<table class="table table-striped table-dark" *ngIf="!isEmptyTasks()">
  <thead>
    <tr>
      <th>Mark as done</th>
      <th>Title</th>
      <th>Due Date</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; let i = index" [ngClass]="{'is-done': task.done}">
      <td>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [checked]="task.done"
            (change)="markAsDone($event, task)" id="{{i}}">
          <label class="custom-control-label" for="{{i}}"></label>
        </div>
      </td>
      <td>{{task.title}}</td>
      <td>{{task.dueDate | date: 'mediumDate'}}</td>
      <td>{{task.createdAt | date: 'medium'}}</td>
      <td>
        <button class="btn btn-info" (click)="editTask(task)" [disabled]="task.done">
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="removeTask(task)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="isEmptyTasks()" class="alert alert-primary d-flex">
  <i class="material-icons mr-2">mood</i>
  <span>There are no tasks yet. Please add new tasks using the form above.</span>
</div>
